@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #fd5542
}
.primary-bg {
    /* background: var(--primary-color); */
    @apply bg-[color:var(--primary-color)]
}
.primary-text {
    color: var(--primary-color);
}
.primary-border {
    border: var(--primary-color);
}